---
layout: default
---
<p>This is a post</p>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
	<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <!-- Gitalk 评论框 start -->
  <div class="comment">
      <div id="gitalk-container"></div>
      <script>
          var gitalk = new Gitalk({
              clientID: 'd05945c4fa9490cc94e2',
              clientSecret: '9e210908203b19e12684c9e0e7c05fa9a82bdcb4',
              repo: 'blog.gitalk',
              owner: 'jaxvanyang',
              admin: ['jaxvanyang'],
              id: location.date      // Ensure uniqueness and length less than 50
              distractionFreeMode: false, // Facebook-like distraction free mode
			  language: 'zh-CN',
          })
          gitalk.render('gitalk-container')
      </script>
  </div>
  <!-- Gitalk 评论框 end -->

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
